<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" type="text/css" href="static/css/style.css">-->
<style>
#container {
position: absolute;
left: 30px;
top: 20px;
}
pre {
border: solid 1px #888;
padding: 5px;
background-color: #f3f3f3;
margin-bottom: 35px;
}
</style>
</head>
<body>

<div id="container">
<h2>Status</h2>
<p>{{ status_msg }}</p>
<p></p>
<h2>API</h2>
<p><strong>POST</strong> (store a JSON document)</p>
<pre>$ curl -i -X POST -d '{"foo":"bar"}' -H 'Accept: application/json' -H 'Content-Type: application/json' {{ api_url }}

HTTP/1.0 201 CREATED
Content-Type: application/json
Location: {{ api_url }}/&lt;id&gt;

{"foo":"bar"}</pre>
<p><strong>GET</strong> (retrieve a JSON document given an ID)</p>
<pre>$ curl -i -X GET -H 'Accept: application/json' {{ api_url }}/&lt;id&gt;

HTTP/1.0 200 OK
Content-Type: application/json

{"foo": "bar"}</pre>
<p><strong>PUT</strong> (update a JSON document given an ID)</p>
<pre>$ curl -i -X PUT -d '{"bar":"baz"}' -H 'Accept: application/json' -H 'Content-Type: application/json' {{ api_url }}/&lt;id&gt;

HTTP/1.0 200 OK
Content-Type: application/json

{"bar":"baz"}</pre>
<p><strong>DELETE</strong> (delete a JSON document given an ID)</p>
<pre>$ curl -i -X DELETE  {{ api_url }}/&lt;id&gt;

HTTP/1.0 200 OK
</pre>
</div>

</body>
</html>
